$leet-speak: LeetSpeak;
$bs-default: "Helvetica Neue", Helvetica, Arial, sans-serif;

@font-face {
    font-family: LeetSpeak;
    src: url('../fonts/LeetSpeak.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LeetSpeak.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/LeetSpeak.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
    font-family: $bs-default;
    position: absolute;
    height: 100%;
    width: 100%;
    border-style: dashed;
}

fieldset {
    padding: 1em;
    margin: 3vh 0;
    height: 100%;
}

legend {
    background-color: var(--dark);
    color: white;
    padding: 1rem;
    margin: 2rem;
}

input:focus {
    outline: none;
}

.login {
    resize: both;
}

.page-header h1 {
    position: relative;
    margin: auto;

}

.btn:focus {
    box-shadow: none !important;
}

.login {
    display: none;
}

.game {
    display: none;
    height: 100vh;
    background: var(--dark);
    color: #fff;
}

#uname {
    width: 50%;
    margin: 0 auto;
}

#opponent li {
    list-style-type: none;
}

#logout-btn {
    position: fixed;
    bottom: 10%;
}

// Small devices (landscape phones, 300px and up)
@media (min-width: 300px) {
}

// Medium devices (tablets, 600px and up)
@media (min-width: 600px) {
}