$leet-speak: LeetSpeak;
$bs-default: "Helvetica Neue", Helvetica, Arial, sans-serif;

@font-face {
    font-family: LeetSpeak;
    src: url('../fonts/LeetSpeak.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LeetSpeak.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/LeetSpeak.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
    font-family: $bs-default;
    position: absolute;
    height: 100%;
    width: 100%;
    border-style: dashed;
}

input:focus {
    outline: none;
}

.btn:focus {
    box-shadow: none !important;
}

.page-header h1 {
    align-self: center;
    margin-left: -63.64px;
}

.game {
    height: 100vh;
    background: var(--dark);
    color: #fff;
}

#game-heading {
    font-size: 1.5em;
    padding: 1rem;
    margin: 2rem;
}

#uname {
    width: 50%;
    margin: 0 auto;
}

#opponents  {
    display: none;
}

#submit-btn {
    position: fixed;
    bottom: 10%;
}

// Small devices (landscape phones, 300px and up)
@media (min-width: 300px) {
}

// Medium devices (tablets, 600px and up)
@media (min-width: 600px) {
}