@font-face {
  font-family: LeetSpeak;
  src: url("../fonts/LeetSpeak.woff") format("woff"), url("../fonts/LeetSpeak.ttf") format("truetype"), url("../fonts/LeetSpeak.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

body {
  font-family: LeetSpeak;
  position: absolute;
  height: 100%;
  width: 100%;
  border-style: dashed; }

fieldset {
  padding: 1em;
  margin: 3vh 0;
  height: 100%; }

legend {
  background-color: var(--dark);
  color: white;
  padding: 1rem;
  margin: 2rem; }

input:focus {
  outline: none; }

.login {
  resize: both; }

.page-header h1 {
  position: relative;
  margin: auto; }

.btn:focus {
  box-shadow: none !important; }

.game {
  display: none;
  background: var(--dark); }

#uname {
  width: 50%;
  margin: 0 auto; }
