@font-face {
  font-family: LeetSpeak;
  src: url("../fonts/LeetSpeak.woff") format("woff"), url("../fonts/LeetSpeak.ttf") format("truetype"), url("../fonts/LeetSpeak.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  height: 100%;
  width: 100%;
  border-style: dashed; }

input:focus {
  outline: none; }

.btn:focus {
  box-shadow: none !important; }

.page-header h1 {
  align-self: center; }

.game {
  height: 100vh;
  background: var(--dark);
  color: #fff; }

#game-heading {
  font-size: 1.5em;
  padding: 1rem;
  margin: 2rem; }

#uname {
  width: 50%;
  margin: 0 auto; }

#opponents {
  display: none; }

#submit-btn {
  position: fixed;
  bottom: 10%; }

#leet-btn {
  display: none; }

#rps {
  margin: 15%; }

#img-rock {
  width: 10%;
  margin: 5%; }

#img-paper {
  width: 10%;
  margin: 5%; }

#img-scissors {
  width: 10%;
  margin: 5%; }
