@font-face {
  font-family: LeetSpeak;
  src: url("../fonts/LeetSpeak.woff") format("woff"), url("../fonts/LeetSpeak.ttf") format("truetype"), url("../fonts/LeetSpeak.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

body {
  position: absolute;
  height: 100%;
  width: 100%;
  border-style: dashed; }

fieldset {
  border-style: dashed;
  border-color: var(--dark);
  border-width: 2px;
  padding: 1em;
  margin: 3vh 0;
  height: 100%; }

legend {
  font-family: LeetSpeak;
  background-color: var(--dark);
  color: white;
  padding: 1rem;
  margin: 2rem; }

input:focus {
  outline: none; }

.login {
  resize: both; }

.invalid-feedback {
  font-family: LeetSpeak; }

.page-header {
  font-family: LeetSpeak; }

.footer {
  font-family: LeetSpeak; }

#uname {
  font-family: LeetSpeak;
  width: 50%;
  margin: 0 auto; }

#submit-btn {
  font-family: LeetSpeak; }
